ul{ 
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    overflow: hidden;
}

li{
       float: right;       
}

li a{
    text-align: center;
    display: list-item;
    text-decoration: none;
    padding: 10px 10px ;
    color: rgba(219,96,24,1.00);
	font-weight: bold;
}

li a:hover{
    background-color:#4F4E4B;    
}
.noon{
	background-color: aqua
}